# Данные
data/raw/
# *.csv
*.xlsx
*.pkl
*.joblib

# Модели
# models/

# Виртуальное окружение
.venv/

# Jupyter
.ipynb_checkpoints/
# *.ipynb

# Python кэш
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/
.idea/
*.swp
*.swo

# Логи/временные файлы
*.log
*.tmp
*.bak

# Environment
.env
.env.local

# Docker
docker-compose.yml
Dockerfile